################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Emitter-IO Test/EmitterBroadcaster/obj
